<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
 	
 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
	    <property name="driverClass" value="com.mysql.jdbc.Driver"/>
	    <property name="jdbcUrl" value="jdbc:mysql:///crm1"/>
	    <property name="user" value="root"/>
	    <property name="password" value="123"/>
	</bean>
 	
 	<!-- 配置sessionfactory -->
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"/>
 		 <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:com/itcast/crm/customer/domain/</value>
                <value>classpath:com/itcast/crm/linkman/domain/</value>
            </list>
        </property>
        <property name="hibernateProperties">
        	<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
        	</props>
        </property>
 	</bean>
 	
 	<!-- 配置事务管理 -->
 	<!-- 1.创建事务管理器 ,管理hibernate的事务-->
 	<bean id="txManger" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
 		<property name="sessionFactory" ref="sessionFactory"></property>
 	</bean>
 	
 	<!-- 2.配置tx增强器 -->
 	
 	<tx:advice id="txAdvice" transaction-manager="txManger">
 		<tx:attributes>
 			<tx:method name="*" propagation="REQUIRED"/>
 		</tx:attributes>
 	</tx:advice>
 	<!-- 3.配置aop -->
 	<aop:config>
 		<aop:pointcut expression="execution(* com.itcast.crm.customer.service.*.*(..))" id="pt"/>
 		<aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>
 	</aop:config>

 	
	    
</beans>